$color-surface-0: black;
$color-surface-100: rgb(18, 18, 18);
$color-surface-200: rgb(27, 27, 27);
$color-surface-300: rgb(37, 37, 37);
$color-surface-400: rgb(45, 45, 45);
$color-surface-500: rgb(63, 63, 63);
$color-surface-600: rgb(100, 100, 100);
$color-surface-700: rgb(130, 130, 130);
$color-surface-800: rgb(165, 165, 165);
$color-surface-900: rgb(200, 200, 200);
$color-surface-1000: rgb(220, 220, 220);

$color-surface-primary-0: black;
$color-surface-primary-100: rgb(1, 23, 44);
$color-surface-primary-200: rgb(4, 47, 88);
$color-surface-primary-300: rgb(10, 67, 120);
$color-surface-primary-400: rgb(35, 101, 163);
$color-surface-primary-500: rgb(71, 153, 229);
$color-surface-primary-600: rgb(104, 167, 226);
$color-surface-primary-700: rgb(111, 173, 230);
$color-surface-primary-800: rgb(173, 208, 241);
$color-surface-primary-900: rgb(192, 217, 239);
$color-surface-primary-1000: rgb(214, 223, 232);

$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

$xs: 0.1rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 2rem;

$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 2rem;
