@use "../../../style/global.scss" as g;

.badge {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: g.$color-surface-400;
  color: g.$color-surface-900;
  width: 40px;
  user-select: none;
  border: 1px solid g.$color-surface-500;
  z-index: 10;

  img {
    position: relative;
    margin: 0px;
    filter: invert(50%);
    width: g.$font-size-xs;
    height: g.$font-size-xs;
  }
}
