DUBSTER__SESSION__MAX_PARTICIPANTS=10
DUBSTER__SESSION__EXPIRY=1h

DUBSTER__CLIP__MAX_SIZE=100mb
DUBSTER__CLIP__MAX_DURATION=1m
DUBSTER__CLIP__MAX_ROLES=10
DUBSTER__CLIP__MAX_SEGMENTS=100
DUBSTER__CLIP__DOWNLOAD_URL_EXPIRY=30m
DUBSTER__CLIP__UPLOAD_URL_EXPIRY=30m

DUBSTER__HOST=0.0.0.0
DUBSTER__PORT=80

DUBSTER__MINIO__=

DUBSTER__POSTGRES__=
