DUBSTER__SESSION__MAX_PARTICIPANTS=10
DUBSTER__SESSION__EXPIRY=1h
DUBSTER__SESSION__MAX_RECORDING_SIZE=250kb

DUBSTER__CLIP__MAX_SIZE=100mb
DUBSTER__CLIP__MAX_DURATION=1m
DUBSTER__CLIP__MAX_ROLES=10
DUBSTER__CLIP__MAX_SEGMENTS=100

DUBSTER__SERVER__HOST=0.0.0.0
DUBSTER__SERVER__PORT=80

DUBSTER__LOGS_LEVEL=DEBUG

DUBSTER__S3__ACCESS_KEY=access-key
DUBSTER__S3__SECRET_KEY=secret-key
DUBSTER__S3__ENDPOINT=
DUBSTER__S3__RENDERS__BUCKET=renders
DUBSTER__S3__RENDERS__DOWNLOAD_EXPIRY=30m
DUBSTER__S3__RECORDINGS__BUCKET=recordings
DUBSTER__S3__RECORDINGS__UPLOAD_EXPIRY=5m
DUBSTER__S3__CLIPS__BUCKET=clips
DUBSTER__S3__CLIPS__DOWNLOAD_EXPIRY=30m
DUBSTER__S3__CLIPS__UPLOAD_EXPIRY=30m

DUBSTER__POSTGRES__HOST=postgres
DUBSTER__POSTGRES__PORT=5432
DUBSTER__POSTGRES__DB=dubster
DUBSTER__POSTGRES__USER=postgres
DUBSTER__POSTGRES__PASSWORD=postgres
