DUBSTER__SESSION__MAX_PARTICIPANTS=10
DUBSTER__SESSION__EXPIRY=1h

DUBSTER__CLIP__MAX_SIZE=100mb
DUBSTER__CLIP__MAX_DURATION=1m
DUBSTER__CLIP__MAX_ROLES=10
DUBSTER__CLIP__MAX_SEGMENTS=100
DUBSTER__CLIP__DOWNLOAD_URL_EXPIRY=30m
DUBSTER__CLIP__UPLOAD_URL_EXPIRY=30m

DUBSTER__HOST=0.0.0.0
DUBSTER__PORT=80

DUBSTER__S3__ACCESS_KEY=access-key
DUBSTER__S3__SECRET_KEY=secret-key

DUBSTER__POSTGRES__HOST=postgres
DUBSTER__POSTGRES__PORT=5432
DUBSTER__POSTGRES__DATABASE=dubster
DUBSTER__POSTGRES__USER=postgres
DUBSTER__POSTGRES__PASSWORD=postgres
